# Assignment1 -Berkay Kaptan- 20170808050

# 1--Basics

In [5]:
3+1

4

In [6]:
3*3

9

In [96]:
2**3

8

In [95]:
'Hello World'

'Hello World'

Exercise 1.1 -->For math calculations they calculate results and for 'hello world' print it.

In [9]:
'py'+'thon'

'python'

In [12]:
'py'*3+'thon'

'pypypython'

In [13]:
'py'-'py'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [14]:
'3'+3

TypeError: can only concatenate str (not "int") to str

In [15]:
3*'3'

'333'

In [16]:
a

NameError: name 'a' is not defined

In [21]:
a=3

In [22]:
a

3

Exercise 1.3 -->In c option we cant substract string to string
In d option we cant do addition operation between string and integer
In f option we have error because we havent define a yet after we define it error solved

In [23]:
1 == 1

True

In [25]:
1 == True

True

In [26]:
0 == True

False

In [27]:
0 == False

True

In [28]:
3 == 1*3

True

In [29]:
(3==1) *3

0

In [31]:
(3 == 3)*4+3 == 1

False

In [32]:
3**5 >= 4**4

False

Exercise 1.4 -->Actually Ä± dont know what to explain here.In f section we got zero because indside the brackets we have false which means 0 and 0 multiply 3 is still zero.Same logic in g section too

In [33]:
5/3

1.6666666666666667

In [34]:
5%3

2

In [35]:
5.0/3

1.6666666666666667

In [36]:
5/3.0

1.6666666666666667

In [37]:
5.2%3

2.2

In [38]:
2001**200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

Exercise 1.5-->In a,c and d sections our results are double values even we divide double or integer values

In [39]:
2000.3**200

OverflowError: (34, 'Result too large')

In [40]:
1.0+1.0-1.0

1.0

In [41]:
1.0+1.0e20-1.0e20

0.0

Exercise 1.6-->I couldnt compare a section with the above one because we got error message('Result too large')

Exercise 1.7

In [44]:
name = 'Berkay Kaptan'
print('Hello ' + name)

Hello Berkay Kaptan

In [45]:
float(123)

123.0

In [46]:
float('123')

123.0

In [47]:
float('123.23')

123.23

In [48]:
int(123.23)

123

In [49]:
int('123.23')

ValueError: invalid literal for int() with base 10: '123.23'

In [50]:
int(float('123.23'))

123

In [51]:
str(12)

'12'

In [52]:
str(12.2)

'12.2'

In [54]:
bool('a')

True

In [55]:
bool(0)

False

In [56]:
bool(0.1)

True

Exercise 1.8-->In e section we have error while casting str to int our string value written in float format and int based on 10 so it couldnt cast it

# 2--Control Flow

In [57]:
range(5)

range(0, 5)

In [60]:
type(range(5))

range

Exercise 2.1-->So what does for i in range(5)
mean?
it means start from zero(python initial value) and go to 5

In [66]:
for i in range (101):
    print(i , end =',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [67]:
for i in range (0,101,7):
    print(i, end=',')

0,7,14,21,28,35,42,49,56,63,70,77,84,91,98,

In [72]:
for i in range(1,101):
    if(i %5==0 and i%3!= 0):
            print(i,end=',')

5,10,20,25,35,40,50,55,65,70,80,85,95,100,

In [76]:
for i in range(1,20):
    if(20 % i==0):
        print(i,end=',')
    i = i+1

1,2,4,5,10,

Exercise 2.2

In [86]:
n =0
while(n<101):
    print(n,end=',')
    n +=1

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [89]:
n = 1
while(n<101):
    if(n %7==0):
        print(n,end=',')
    n +=1

7,14,21,28,35,42,49,56,63,70,77,84,91,98,

Exercise 2.3

In [105]:
number_found = 0
n=1
while(number_found < 20):
    if(n%5 == 0 and n%7 == 0 and n%11==0):
        print(n,end=',')
        number_found +=1
    n+=1

385,770,1155,1540,1925,2310,2695,3080,3465,3850,4235,4620,5005,5390,5775,6160,6545,6930,7315,7700,

Exercise 2.5

In [104]:
n = 1
while(n<5000):
    if(n%1 == 0 and n%2==0 and n%3==0 and n%4==0 and n%5==0 and n%6==0 and n%7==0 and n%8==0 and n%9==0 and n%10==0):
        print(n)
    n+=1

2520

Exercise 2.6

In [100]:
n = 103
while(n!=1):
    if(n%2 == 0):
        n = n/2        
    elif(n%2==1):
        n=3*n+1
    print(int(n),end=',')

310,155,466,233,700,350,175,526,263,790,395,1186,593,1780,890,445,1336,668,334,167,502,251,754,377,1132,566,283,850,425,1276,638,319,958,479,1438,719,2158,1079,3238,1619,4858,2429,7288,3644,1822,911,2734,1367,4102,2051,6154,3077,9232,4616,2308,1154,577,1732,866,433,1300,650,325,976,488,244,122,61,184,92,46,23,70,35,106,53,160,80,40,20,10,5,16,8,4,2,1,

Exercise 2.7

# 3--Functions

In [106]:
def hello():
    print('Hello World')

hello()

Hello World

In [108]:
def name(name):
    print('Hello ' + name)

name('Berkay')

Hello Berkay

Exercise 3.1-->return shows us to how a function gives back a value, print shows user a string

In [115]:
def my_max(a,b):
    if(a>b):
        return a
    else:
        return b
my_max(3,2)

3

In [116]:
def my_max(a,b):
    if(a>b):
        return a
    if(b>a):
        return b
my_max(3,4)

4

Exercise 3.3

In [119]:
def is_prime(a):
    for n in range(2,int(a**1/2)+1):
        if a%n==0:
            return False
    return True

print(is_prime(7))

True

Exercise 3.4

I couldnt do 3.2 and 3.5